/* Základní styl webové stránky */

/* Přidání stylů písmen z fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto&display=swap');

/* Nastavení parametru paragraf */
p {
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
}

/* Nastavení parametru nadpis */
h1 {
    font-family: 'Luckiest Guy', cursive;
    color: black;
}

/* Nastavení parametru body */
body {
    margin: auto;
    padding-top: 4ex;
}

/* Nastavení parametru odkaz */
a {
    color: white;
}