
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto&display=swap');
p{
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Luckiest Guy', cursive;
    color:black;
}
body{
    margin: auto;
    padding-top: 4ex;
}
a{
    color:white;
}